body {
    background-image: url("Images/2Soon.jpg");
}

header {
    background-color: rgb(30, 40, 30, 0.800);
}

.welcome

.welcome-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 45px;
}

.login-box {
    background-color: rgb(50, 60, 50);
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#loginControls {
  padding: 0 20%;
}

.login-button {
  font-family: 'Open Sans', sans-serif;
  display: block;
  margin: auto;
}
  
#signup-prompt {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

#playerUsername {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 25px;
  text-align: center
}

.buttons {
  padding: 0 50px;
}

@keyframes pulse {
  0%, 100% {
    background: linear-gradient(135deg, rgba(50, 60, 50), rgba(60, 70, 60));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.700);
  }

  25% {
    background: linear-gradient(135deg, rgba(55, 65, 55), rgba(65, 75, 65));
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.750);
  }

  50% {
    background: linear-gradient(135deg, rgba(60, 70, 60), rgba(70, 80, 70));
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.800);
  }

  75% {
    background: linear-gradient(135deg, rgba(55, 65, 55), rgba(65, 75, 65));
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.750);
  }
}
  
.lyrics {
    font-family: 'Caveat', cursive;
    text-align: center;
    color: #F5F5F5;
    background: linear-gradient(135deg, rgba(50, 60, 50), rgba(70, 80, 70));
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.75);
    padding: 50px;
    border-radius: 50px;
    margin: auto;
    width: 50%;
    animation: pulse 5.0s infinite alternate ease-in-out;
}
    
.lyrics h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(170, 150, 100);
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 2.5em;
    text-shadow: 6px 7px 8px rgba(255, 255, 255, 0.500);
}

.lyrics h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(170, 150, 100);
    margin-bottom: 15px;
    font-size: 2.0em;
    text-shadow: 5px 6px 7px rgba(255, 255, 255, 0.500);
}

.lyrics p {
    padding: 30px;
    font-size: 2.0em;
    line-height: 1.5;
    text-shadow: 10px 10px 10px black;
}

footer {
    background-color: rgb(30, 40, 30, 0.800);
}
