body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
}

header {
  flex: 0;
}

.header-title h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-top: 15px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.form-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.form-control {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.login-signup-form h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;
}

footer {
  flex: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding: 10px
}

.nav-tabs {
  font-size: 20px;
}

.author-name {
  font-weight: bold;
}

@media (max-height: 800px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    padding: 20px 0;
  }
}
