body {
    background-image: url("Images/BYS.png");
}

header {
    background-color: rgb(200, 120, 10, 0.800);
}

.players {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    flex: 1;
    width: 100%;
    padding: 0.5em;
}

.user-player {
    font-size: 25px;
}

.player-username {
    color: rgb(250, 230, 210);
}

.message {
    color: black;
}

.player-event {
    color: rgb(250, 230, 210);
}

.lyrics {
    font-family: 'Caveat', cursive;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 5.0em;
    line-height: 1.5;
    text-shadow: 10px 10px 10px black;
}

@keyframes sparkle {
    0%, 100% {
      color: #ffffff;
      text-shadow: none;
    }

    50% {
      color: #ffffff;
      text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 
                   0 0 20px #ff8c00, 0 0 25px #ff8c00, 0 0 30px #ff8c00, 
                   0 0 35px #ff8c00;
    }
  }
  
.lyrics p {
    animation: sparkle 5.0s infinite ease-in-out;
}
  
.lyrics p:hover {
    animation: none;
    text-shadow: 0 0 8px #ffffff, 0 0 12px #ff8c00;
}

.emojis {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.emoji {
    margin-left: 5px;
    margin-right: 5px;
}

.optionsContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 30px;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.button {
    font-family: "Open Sans", sans-serif;
    margin-right: 15px;
}

.radioContainer {
    font-family: "Open Sans", sans-serif;
    margin-left: 30px;
    margin-right: 30px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }

    40% {
      transform: translateY(-50px);
    }

    60% {
      transform: translateY(-25px);
    }
}
  
.answer {
    font-family: "Bungee Spice", sans-serif;
    font-weight: 500;
    font-size: 5.0em;
    animation: bounce 3.0s;
}

#soundCloud {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: rgb(200, 120, 10, 0.800);
}