body {
    background-image: url("Images/BYS.png");
}

header {
    background-color: rgb(200, 120, 10, 0.800);
}

.players {
    font-family: "Open Sans", sans-serif;
    flex: 1;
    width: 100%;
    padding: 0.5em;
}

.user-player {
    font-size: 25px;
}

.player-username {
    color: rgb(250, 230, 210);
}

.message {
    color: black;
}

.player-event {
    color: rgb(250, 230, 210);
}

.lyrics {
    font-family: 'Caveat', cursive;
    text-align: center;
    color: white;
    padding: 30px;
    font-size: 5.0em;
    line-height: 1.5;
    text-shadow: 10px 10px 10px black;
}

.guess {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.choice {
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 30px;
}

.radio-container {
    margin-left: 30px;
    margin-right: 30px;
}

footer {
    background-color: rgb(200, 120, 10, 0.800);
}